
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 30px;
  height: 30px;
  width: 135px;
  margin-top: -10px;
  margin-bottom: 30px;
  /*margin: 0 auto;*/
  position: relative;
  padding: 0;
  text-shadow: 0 1px 0 #a2a2a2;
  
}  
.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
